<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

</head>
<body>
    <section class="form-login">
        <h5>Formulario Login</h5>
        <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="controls" type="password" name="pasword" value="" placeholder="Password">
        <input class="buttons" type="submit" name="" value="Ingresar">
        <p><a href="#">Olvidaste tu password??</a></p>
    </section>
</body>
</html>
